.names{
    background-color: antiquewhite;
    padding: 20px;
    color: rgb(53, 55, 75);

    font-family: "Tektur", sans-serif;
}
.names>ul>li{
    list-style: none;
}

.names>ul{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 5px;
}